/*

.eye {
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
}*/

.eye img {
  width: 175px;

  height: auto;
}

.light-pink {
  color: #FF5252
}

.expand-card {
  float: right;
  display: inline-block;
}
